<a href="https://colab.research.google.com/github/victoirewuyts/BTE320/blob/main/In_class_assignment_VW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape Area Calculator
pi = 3.14
r = 3
h = 10

Area = 2 * pi * r ** 2 + 2 * pi * r * h
print(Area)

244.92000000000002

In [ ]:
#Rock Paper Scissors Problem
play = input('Do you want to play a game? ')

while play == 'yes':
  p1 = input('Player 1 :: rock, paper, scissors: ')
  p2 = input('Player 2 :: rock, paper, scissors: ')

  if p1 == p2:
    print('Draw')
  elif (
    (p1 == 'rock' and p2 == 'scissors') or
     (p1 == 'scissors' and p2 == 'paper') or
      (p1 == 'paper' and p2 == 'rock')
      ):
    print('Player 1 wins!')
  else:
    print('Player 2 wins!')
play = input('Do you want to play another game? ')

print('Have a nice day!')

In [ ]:
#Numerical Calculator
play = input('Do you want to play a game? ')

while play == 'yes':
  n1 = float(input('enter first number: '))
  n2 = float(input('enter second number: '))
  symbol = input('operation (+,-,/,*,**): ')

  if symbol == "+":
    print(n1+n2)

  elif symbol == "-":
    print(n1-n2)

  elif symbol == "/":
    print(n1/n2)

  elif symbol == "*":
    print(n1*n2)

  else:
    print(n1**n2)

  play = input('Do you want to play another game? ')

In [ ]:
#Parking Garage
flat_rate = 5
hourly_rate = 2.5

for h in range(1, 9, 1): #leaving (1,9) or (1,9,1) gives the same outcome
  charge = flat_rate + hourly_rate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
#same problem but using while loop
h = 1

while h < 9:
  charge = flat_rate + hourly_rate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h, charge)

  h = h+1

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
#Movie theatre
ticket_price = 10
fixed_cost = 200
fixed_attendees = 20

for ad in range(0,201,25):
  additional_attendees = round(2 * ad ** 0.5)
  profit = (fixed_attendees + additional_attendees) * ticket_price - ad - fixed_cost
  print(ad, profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
#same problem but using while loop
ad = 0

while ad < 201:
  additional_attendees = round(2 * ad ** 0.5)
  profit = (fixed_attendees + additional_attendees) * ticket_price - ad - fixed_cost
  print(ad, profit)
  ad = ad + 25
  #remember for a while loop, the condition has to be initialized and updated ('ad = 0' and 'ad = ad + 25')

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
#Months2Numbers dictionary
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months[3]

'Mar'

In [ ]:
#Fee calculation and display functions

def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input('Enter number of hours: '))
fee = calcFee(h)
print(fee)

Enter number of hours: 2
10.0

In [ ]:
#Fee calculation and display functions - Enhancement

def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

h = int(input('Enter number of hours: '))
displayFee(calcFee(h))

Enter number of hours: 4
15.0

In [ ]:
#Recursion Problem
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1]) + s[0]

reverse('Hello')

'olleH'

In [ ]:
def wAvg(L,w):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except TypeError:
    print('Non-numerical object found')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAvg([1,2,3],[.2,0,-.2])

Divided by zero

[]

In [2]:
#Student class
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.__courses = []

  def enroll(self,newCourse):
    if newCourse not in self.__courses:
      self.__courses.append(newCourse)
    else:
      print(f'You have already enrolled in {newCourse}')

  def get_courses(self):
    return self.__courses

class GradStudent(Student):
  def __init__(self, name, number, stipend):
    super().__init__(name, number)
    self.stipend = stipend

  def set_stipend(self, newStipend):
    self.stipend = newStipend

  def get_stipend(self):
    return self.stipend

In [3]:
s = Student('Bob', '12345')
g = GradStudent('Alice', '456', 2000)

In [ ]:
s.enroll('ABC789')

In [ ]:
s.get_courses()

['ABC789']

In [ ]:
s1 = Student("Brock Purdy", 13)
s2 = Student("Jake Moody", 4)

print(s1.name)
print(s2.name)

Brock Purdy
Jake Moody